<%- include('../header.ejs', {name: "Edit " + item.name}) %>

<div class="container">
    <div class="row">
        <div class="col">
            <h1>Edit <%= item.name %> Inventory</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-5">
            <form method="POST" action="/speakers/<%= item._id %>?_method=PUT">
                <div class="mb-3">
                    <label class="form-label">Name: <input type="text" name="name" class="form-control" value="<%= item.name %>"></label>
                </div>
                <div class="mb-3">
                    <label class="form-label">Brand: <input type="text" name="brand" class="form-control" value="<%= item.brand %>"></label>
                </div>
                <div class="mb-3">
                    <label class="form-label">Image URL: <input type="text" name="image" class="form-control" value="<%= item.image %>"></label>
                </div>
                <div class="mb-3">
                    <label class="form-label">Price: <input type="text" name="price" class="form-control" value="<%= item.price %>"></label>
                </div>
                <div class="mb-3">
                    <label class="form-label">Description: <textarea name="description" class="form-control" class="newDescription" value="<%= item.description %>"></textarea></label>
                </div>
                <button type="submit" class="btn btn-secondary">Submit</button>
            </form>
        </div>
    </div>





<h3><a href="/speakers">Back to Speakers</a></h3>

<%- include('../footer.ejs',) %>