<%- include('./header.ejs', {name: 'Music Store App'}) %>
<div>
    <h1>Instruments</h1>
    <img src="<%= ranInstrument.image %>">
</div>
<div>
    <h1>Microphones</h1>
    <img src="<%= ranMicrophone.image %>">
</div>
<div>
    <h1>Speakers</h1>
    <img src="<%= ranSpeaker.image %>">
</div>


<h1>hello</h1>

<%- include('./footer.ejs') %>