<%- include('./header.ejs', {name: 'Music Store App'}) %>
<div>
<img src="<%= ranInstrument.image %>">
</div>
<div>
<img src="<%= ranMicrophone.image %>">
</div>
<div>
<img src="<%= ranSpeaker.image %>">
</div>


<h1>hello</h1>

<%- include('./footer.ejs') %>