<%- include('../header.ejs', {name: "New Instrument"}) %>
<h1>Add Instrument to Inventory</h1>


<h4 class="itemTitle"><%= item.name %></h4>
<h4 class="brand"> <%= item.brand %></h4>
<img src="<%= item.image %>">
<h4 class="itemPrice"><%= item.price %></h4>
<h4 class="itemDescription"><%= item.description %></h4>