<%- include('../header.ejs', {name: "Delete " + item.name}) %>

<div class="container instrumentBG">

    <div class="row">
        <div class="col title">
            <h1>Remove Item from Inventory</h1>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h2 style="color: white;"><%= item.name %></h2>
        </div>
    </div>

    <div class="row">
        <div class="col-3">
            <img src="<%= item.image %>" class="img-fluid">
        </div>
        <div class="col contentBox">
            <p class="brand">Brand: <%= item.brand %></p>
            <p class="itemPrice">Price: $<%= item.price %>.00</p>
            <p class="itemDescription">Description: <%= item.description %></p>

            <p class="deleteWarning">Are you sure you want to remove this item from inventory?</p>
            <form method="POST" action="/instruments/<%= item._id %>?_method=DELETE"><button type="submit" class="but btn-danger">Yes I'm Sure</button></form>
        </div>
    </div>



<%- include('../footer.ejs',) %>